* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container1 {
  position: relative;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  position: fixed;
  z-index: 95;
  width: 100%;
  top: 0;

  justify-content: space-between;
  align-items: stretch;
  background-color: #201a16;
  height: 95px;
  padding: 20px 20px;
  font-size: 13px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 0.5px;
}

.header__logo img {
  width: 150px;
}

.header__logo a {
  display: block;
}

.header__user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__user-link:link,
.header__user-link:visited {
  display: block;
  line-height: 13px;
  font-family: "Roboto Condensed";
  font-size: 400;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.75em 1em;
  margin-left: 4px;
  cursor: pointer;

  color: #ffffff;
}

.header__user-link:hover {
  color: rgba(155, 151, 151, 0.91);
}

.header__contact:link,
.header__contact:visited {
  text-decoration: none;
  display: block;
  font-family: "futura-pt";
  text-transform: uppercase;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 2px;
  margin-left: 17px;
  padding: 13px 19.5px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 3px;
  color: #ffffff;
}

.header__contact:hover {
  background-color: #ffffff;
  color: #201a16;
  transition: all 0.1s;
}

.header__mobile-btn {
  display: none;
  background-color: #201a16;
  border: none;

  position: absolute;
  top: 32.5px;
  left: -60px;
  height: 30px;
  z-index: 102;

  outline: none;
}

.header__mobile-btn:active {
  transform: scale(0.95);
}
.mobile-btn-img1 {
  width: 35px;
  visibility: visible;
  cursor: pointer;
  position: absolute;
  z-index: 102;
  top: 0;
  right: 0;
  background-color: #201a16;
  transition: transform 0.3s;
  transform: scale(1);
}

.mobile-btn-img2 {
  width: 22px;

  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s;
  transform: scale(0);
}
.mobile-nav {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #201a16;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 0;

  height: 100vh;
  font-size: 13px;
  transition: width 0.3s;
}

.mobile-nav a:link,
.mobile-nav a:visited {
  display: block;
  line-height: 13px;
  font-family: "Roboto Condensed";
  font-size: 400;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.75em 1em;
  cursor: pointer;
  margin-left: 20px;

  color: #ffffff;
}

.mobile-link:first-of-type {
  margin-top: 24.5px;
}

.mobile-contact {
  text-decoration: none;
  display: block;
  font-family: "futura-pt";
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 2px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 3px;
  color: #ffffff;
}
@media (max-width: 640px) {
  .header__user-nav {
    display: none;
  }
  .header__mobile-btn {
    width: 35px;
    display: block;
  }
}

.body2 {
  background-color: #f4f4f4;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  max-width: 80vw;
  margin-top: 95px;
  text-align: center;
  position: relative;
  outline-offset: 1px;
  outline-style: solid;
  outline-color: rgba(0, 0, 0, 0.1);
}
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 95vh;
  width: 95vw;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.add-movie {
  background-color: #f4f4f4;
  border-radius: 0.25rem;
  margin: 30% auto;
  padding: 20px;
  width: 70%;
  animation-name: modalopen;
  animation-duration: 1s;
}
.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}
.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding: 20px 0;
  position: relative;
  width: auto;
  border-top: 1px solid black;
}

.clr {
  clear: both;
}

#navbar {
  top: 0;
  align-self: center;
  background-color: #f4f4f4;
  color: black;
  text-align: left;
  z-index: 8;
}

#navbar ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

#navbar li {
  display: inline;
  margin-left: 0px;
  vertical-align: middle;
}

#navbar a {
  color: rgb(82, 4, 4);
  text-decoration: none;
  font-size: 18px;
  padding-right: 0px;
}
#navbar a:hover {
  color: black;
  font-size: 20px;
}

#showcase {
  overflow: hidden;
  margin-top: 95px;
  vertical-align: top;
  background-image: url("../images/food.jpg");
  background-size: cover;

  min-height: 500px;
  margin-bottom: 30px;
}
.flex {
  display: flex;
  /* grid-template-columns: 9fr 1fr; */
  /* align-items: center; */

  box-sizing: border-box;
  text-align: stretch;
  align-items: center;
  justify-content: stretch;
  width: 100%;
}
.input-wrapper {
  position: relative;
  overflow: visible;
  margin: 15px 20% 0 20%;
  height: "auto";
  z-index: 7;
}
.dropDown {
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 20;
}
.main-body {
  box-sizing: border-box;
  margin: 0 20px;
  /* text-align: center; */
}

.search {
  border: 1px solid;
  border-radius: 0.25rem;
  line-height: 1.5;
  font-weight: 400;
  padding: 0rem 1rem;
  height: 37px;
  color: #282828;
  font-size: 0.875rem;
  /* max-width: 60%;
  min-width: 40%; */
  width: 100%;
  z-index: 0;
}

.table {
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-collapse: seperate;
  border-spacing: 0;
}
.table th {
  background-color: #fff;
  padding: 0.45rem;
  border: 1px solid #282828;
  border-radius: 0.25em;
  text-align: left;
  color: black;
  margin: 0;
  width: 100%;
}

.image {
  border: solid black thin;
  margin-left: 0px;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: brown;
}
td {
  background-color: #fff;
  padding: 0.45rem;
  border: 1px solid #282828;
  border-radius: 0.25em;
  text-align: left;
  color: rgb(82, 4, 4);
  font-weight: bolder;
  margin: 0;
  width: 100%;
}

.middle-column {
  text-align: center;
  color: rgb(82, 4, 4);
  font-weight: bolder;
  cursor: pointer;
}
.delete {
  text-decoration: none;
  background-color: brown;
  border-radius: 0.25rem;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  font-weight: lighter;
}

.delete:hover {
  padding: 15%;
}
.movies {
  border: black solid 0.5px;
  border-radius: 0.25em;
  height: fit-content;
  padding: 0;
  margin: 0;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  cursor: pointer;
  border-spacing: 0;
  color: black;
  overflow: hidden;
  background-color: #f3f3f3;
}
.movies:hover {
  background-color: brown;
  color: #f4f4f4;
}

.movies h4 {
  margin: auto;
  margin-top: 5px;
  padding: 0;
}
#get-btn {
  background-color: brown;
  height: 39px;
  border: black 1px solid;
  border-radius: 0.25rem;
  line-height: 1.5;
  font-weight: 400;
  color: #f3f3f3;
  font-size: 1.3rem;
  width: fit-content;
  padding: 0 5px;
  margin-top: 0;
  position: relative;
  z-index: 0;
}
#get-btn:hover {
  background-color: rgb(82, 4, 4);
  color: #f3f3f3;
  cursor: pointer;
}

.showMovies {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 600px;
  position: relative;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 30% 30% 30%;
  grid-auto-flow: column;
  overflow: hidden;

  gap: 25px;
}

.showMovies > img {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.recImg {
  display: block;
}
.recContainer {
  position: relative;
  display: none;
  grid-template-columns: 8% 84% 8%;
  align-items: center;
}
.arrow {
  position: relative;
  cursor: pointer;

  z-index: 1;
}
.arrowLeft {
  position: relative;
  margin-left: 5px;
}
.arrowLeft:hover {
  margin-left: 0;
}
.arrowRight {
  margin-left: auto;
  margin-right: 5px;
}
.arrowRight:hover {
  margin-right: 0;
}

#show h1 {
  margin-top: 20px;
}
@media (min-width: 1000px) {
  .body2 {
    max-width: 800px;
    margin: auto;
  }
}
@media (max-width: 999px) {
  .body2 {
    max-width: 800px;
    margin: auto;
  }
}
@media (max-width: 650px) {
  .body2 {
    max-width: 100vw;
    margin: auto;
  }
  .showMovies {
    margin-top: 20px;
    margin-bottom: 30px;
    height: 600px;
    position: relative;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 50% 50%;
    gap: 25px;
  }
  .input-wrapper {
    margin: 15px 5% 0 5%;
  }
}

@media (max-width: 500px) {
  .body2 {
    max-width: 100vw;
    margin: auto;
  }
  #getBtn {
    width: 70%;
  }
  #showcase {
    min-height: 400px;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rating {
  display: inline-block;
  position: relative;
  height: fit-content;
  line-height: 40px;
  font-size: 40px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 10;
}

.rating label:nth-child(2) {
  z-index: 9;
}

.rating label:nth-child(3) {
  z-index: 8;
}

.rating label:nth-child(4) {
  z-index: 7;
}

.rating label:nth-child(5) {
  z-index: 6;
}
.rating label:nth-child(6) {
  z-index: 5;
}
.rating label:nth-child(7) {
  z-index: 4;
}
.rating label:nth-child(8) {
  z-index: 3;
}
.rating label:nth-child(9) {
  z-index: 2;
}
.rating label:nth-child(10) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: brown;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px brown;
}

#show {
  display: none;
}
